.login-form {
  background-color: $background-field;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  padding: 100px 0px 40px 0px;
  //border: 1px solid $interactive;
}
.login-options {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 30% 25px 30%;
  padding: 0;
}
.login-options__link {
  text-decoration: none;
  color: $interactive;
}
.login-header {
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 5px auto 5px;
}
.breaker {
  
}
.signup {
  font-size: 18px;
  color: darken($interactive, 10%);
  cursor: pointer;
  
  &:hover {
    color: $interactive;
  }
}
.input-field {
  width: 100%;
  background-color: $background-input;
  border-top: 1px solid $accent;
  border-bottom: 1px solid $accent;
  margin-bottom: -1px;
}
.input-icon {
  position: relative;
  left: 20px;
  opacity: 0.5;
  width: 14px;
  height: 14px;
}
.login-input {
  width: 70%;
  background: none;
  border: none;
  color: $interactive;
  height: 30px;
  padding: 0 40px 0 50px;
 
  &:invalid {
    box-shadow: none;
  }
}

.form-buttons {
  margin: 50px 30px 60px;
  display: flex;
  justify-content: space-around;
}
.login-button {
  transition: ease-out 0.2s;
  font-weight: 600;
  background: none;
  height: 40px;
  width: 150px;
  color: $interactive;
  border: 2px solid $interactive;
  border-radius: 50px;
  cursor: pointer;
  
  &:hover{
    color: $font-main;
    background-color: $interactive;
  }
}

.password_reminder {
  margin-top: 10px;
  cursor: pointer;
  color: darken($interactive, 10%);
  
  &:hover {
    color: $interactive;
  }
}